html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
nav ul li a .drop{
    height: 20 0px;
    padding-top: 2px;
}
ul .btn li{
    padding: 5px;
}
.right{
    margin-right: 28px;
}
nav{
    background-color: white;
}
nav .brand-logo{
    margin-left: 80px;
    padding: 6px;   
}

img.cercle.responsive-img{
   width: 58px;
    height: 56px;
}
.content{
    height: 100%;
}
/*************************
*************************
    Ajouter
    **********************
*************************/
.redaContain{
    background: darkgray;
    width: 100%;
    height:100%;
}
.radio{
    display: flex;
    justify-content: space-around
}



/*----------------------------------------
    Login Page
------------------------------------------*/
.contain{
    display: table;
    margin: auto;
}
.login-form {
  width: 100%; 
  margin-bottom: 20px; 
  margin-top: 20px;
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.login,.add{
        display: table-cell;
    vertical-align: middle;
}
.profile-image-login {
    width: 100px;
    height: 100px !important;
}
.margin{
    margin: 0 !important;
}
.medium-small {
    font-size: 0.9rem
}
.addMarge{
        text-align: -webkit-center;
}
.add{
    width: 400px;
        text-align: -webkit-center;
}

/*----------------------------------------
    Affichage Page
------------------------------------------*/
.search{
    display: table;
    margin-top: 55px;
}
.inputSearch{
    width: 300px !important;
    margin-bottom: 0px !important;
}
.searchContent{
    margin-bottom: 0;
}
.btnSearch{
        width: 150px !important;
    margin-top: 0px;
}
.close{
    margin-top: 8px;
}
.searchTitle{
    font-size: 30px !important;
    font-weight: 300 !important;
    color: black !important;
}

.tableList{
    display: table;
    width: 80%;
}
.tableTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}
/*************************
      inbox 
**************************/
.side-nav a.item{
    color: #1e88e5 !important;
}
.edit a.item{
    pointer-events: none;
}