html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
nav ul li a .drop{
    height: 20 0px;
    padding-top: 2px;
}
ul .btn li{
    padding: 5px;
}
.right{
    margin-right: 28px;
}
nav .brand-logo{
    margin-left: 28px;
}
.dropdown-content {
    margin: 0;
    display: none;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    text-align: center;
    position: absolute;
    z-index: 999;
    will-change: width, height;
}
.dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%; 
    text-align: center;
    text-transform: none;
    height: 60px; 
    padding: 4px;
    
}
a.dropdown-button.drop{
    background-color: transparent;
        height: 64px;
    padding-top: 4px;
    padding-bottom: 4px;
}
img.cercle.responsive-img{
   width: 58px;
    height: 56px;
}
ul#dropdown1.dropdown-content.active{
    width: 85px;
    position: absolute;
    top: 64px;
    background-color: transparent;
    opacity: 1;
    display: block;
    height: 260px;
}
ul#dropdown1 li:hover{
    background-color: none;
}
ul#dropdown1.dropdown-content{
    box-shadow: none !important;
}
.btn-floating.btn-large i {
    line-height: 24px;
    margin-top: 2px;
    margin-right: 1px;
    height: 23px;
    text-align: center;
}
.btn-floating i {
    width: initial;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}
div.content{
    height: 100%;
    margin-bottom: 0px;
}
div.panel{
    height: 100% !important;
}
ul.listItem{
    display: flex;
    flex-direction: column;
}

 .item{
        text-decoration: none;
    display: flex ;
    align-items: center ;
    margin: 8px;
}
a.item p{
    margin: 0;
        padding: 10px;
}
ul.collapsible.mess{
     box-shadow: none !important;
}
.mess{
    border: none;
    margin: 0;
   
}
.collapseHeader{
    border: none;
    box-shadow: none;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 8px;
    color: #039be5;
}
.collapseHeader i {
    width: 2rem;
    font-size: 2rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 0.7rem;
}
.temp{
        text-decoration: none;
    display: flex ;
    align-items: center ;
    margin: 8px;
    height: 50px;
    padding-left: 40px;
    
}
.collapseHeader p{
    margin: 8px;
}
.collapseBody{
        border-top: 1px solid #ddd;
    color: #616161 !important;
    
}

.inventaire{
    margin: 0.5rem 0 1rem 0;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.inventaire a.invItem {
    display: block;
    transition: .25s;
    color: #fff;
}
.inventaire .invItem {
    background-color: transparent;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
}
span.quantite {
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #fff;
    float: right;
    box-sizing: border-box;
    border-radius: 45px;
}
.stock{
    background-color: red;
}
.total{
    background-color: limegreen;
}
.pourcent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}
.materielle{
    display: flex;
}
.listMaterielle{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px !important;

    margin-right: 8px;
    margin-left: 8px;
    color: white;
    
}
.listMaterielle span.card-title{
    padding-top: 6px;
    
}
div.stuffContent{
        padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.chiffre{
    font-size: 60px;
    margin: 5px;
    font-weight: 50px;
}
.listMaterielle .card-content p {
    margin: 0;
    color: inherit;
    text-transform: uppercase;
}
.materielle .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
    color: white !important;
    margin-right: 0;
}
.commande{
    display: flex;
}
.order{
    margin-right: 8px;
    height: 250px;
}
.orderContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
.orderTitle{
    padding: 4px;
}
.orderTexte{
padding: 8px;
}
.orderNum{
    padding: 10px;
    color: #039be5 !important;
}
.table{
    margin-right: 8px;
}
/*----------------------------------------
    Login Page
------------------------------------------*/
.contain{
    display: table;
    margin: auto;
}
.login-form {
  width: 280px;  
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.login,.add{
        display: table-cell;
    vertical-align: middle;
}
.profile-image-login {
    width: 100px;
    height: 100px !important;
}
.margin{
    margin: 0 !important;
}
.medium-small {
    font-size: 0.9rem
}
.addMarge{
        text-align: -webkit-center;
}
.add{
    width: 400px;
        text-align: -webkit-center;
}
/*----------------------------------------
    Affichage Page
------------------------------------------*/
.search{
    display: table;
    margin-top: 55px;
}
.inputSearch{
    width: 300px !important;
    margin-bottom: 0px !important;
}
.searchContent{
    margin-bottom: 0;
}
.btnSearch{
        width: 150px !important;
    margin-top: 0px;
}
.close{
    margin-top: 8px;
}
.searchTitle{
    font-size: 30px !important;
    font-weight: 300 !important;
    color: black !important;
}

.tableList{
    display: table;
    width: 80%;
}
.tableTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}
/*************************
      inbox 
**************************/
.container {
    padding: 0 0.5rem;
    margin: 0 ;
    max-width: 100% !important;
    width: 98%;
}
.collection .collection-item.avatar img.circle {
    padding: 0px;
}
 .collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding: 10px;
}
.time{
    right: 8px;
}
.ultra-small {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}
.blue-text {
    color: #2196F3 !important;
}
.mailTitle {
    font-weight: 500;
}
#mailDetails .collection {
    border: none;
}
 i.material-icons.editer{
    line-height: 55px;
    margin-top: 0px;
}
@media only screen and (max-width: 992px){
    .side-nav a{
        padding: 0;
          color: #2196F3 !important;
    }
    ul.listItem{
    display: flex;
    flex-direction: column;
}

 .item{
        text-decoration: none;
    display: flex ;
    align-items: center ;
    margin: 8px;
}
a.item p{
    margin: 0;
        padding: 10px;
        height: 40px;
}
ul.collapsible.mess{
     box-shadow: none !important;
}
.mess{
    border: none;
    margin: 0;
   
}
.collapseHeader{
    border: none;
    box-shadow: none;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 8px;
    color: #039be5;
}
.collapseHeader i {
    width: 2rem;
    font-size: 2rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 0.7rem;
}
.temp{
        text-decoration: none;
    display: flex ;
    align-items: center ;
    margin: 8px;
    height: 50px;
    padding-left: 40px;
    
}
.collapseHeader p{
    margin: 8px;
}
.collapseBody{
        border-top: 1px solid #ddd;
    color: #616161 !important;
    
}
}